.root{
  position: relative;
  .input{


    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 10px 20px 10px 35px;
    font-size: 17px;
    &:focus{
      border: 1px solid rgba(0,0,0,0.25);

    }
    @media (max-width: 680px) {
      width: 200px;
    }
  }
  .iconSearch{
    position: absolute;
    opacity: 0.5;
    height: 16px;
    width: 16px;
    left: 10px;
    top: 14px;
  }
  .iconClose{
    position: absolute;
    opacity: 0.3;
    height: 16px;
    width: 16px;
    right: 10px;
    top: 14.5px;
    cursor: pointer;
    &:hover{
      opacity: 0.4;
    }
  }
}
